<header>
    <nav class="navbar navbar-light" style="background-color: rgba(255, 255, 255, 0.7); padding: 10px;">
        <div class="container-fluid" style="width: 18%; float: left; margin-bottom: 10px;">
            <h1><a href="{{ url_for('main_page') }}">LateNightWaifu</a></h1>
        </div>
        <div class="container-fluid" style="width: 18%; float: right; margin-top: 20px;">
            <div class="col-md-12">
                <form method="get" id="search_form">
                    <input type="text" class="form-control" id="search" name="query" placeholder="Поиск...">
                </form>
            </div>
        </div>
    </nav>
</header>
